<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    </head>
    <body class="zombitronica__slider">
        <div id="slider1"></div>
        <div id="slider2"></div>
        <div id="slider3"></div>
        <div id="slider4"></div>
        <script type="text/javascript" src="scripts/nexusui/dist/NexusUI.js"></script>
        <script type="module" src="/assets/js/ui/slider.js"></script>
    </body>
</html>