<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Monotron</title>
        <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    </head>

    <body class="zombitronica__position">
        <div id="position"></div>
        <script type="text/javascript" src="scripts/nexusui/dist/NexusUI.js"></script>
        <script type="module" src="/assets/js/ui/monotron.js"></script>
    </body>
</html>